<ul class="list-group list-reservations-accepted">
    {% for a in reservations.accepted %}
        <li class="list-group-item">
            <div class="float-md-left">
                {{ a.name }} : pour <b>{{ a.nb_persons }} personnes</b> le <b>{{ a.date|date("d/m/Y à h:i") }}</b>
                <br><small>{{ a.phone }} - {{ a.email }}</small>
            </div>
            <div class="float-md-right" id="buttons-{{ a.id }}">
                {% include 'components/btn-modal-reservation-accept.html.twig' with { 'id': a.id, 'hiddenBtn': 1 } %}
                {% include 'components/btn-modal-reservation-deny.html.twig' with { 'id': a.id } %}
            </div>
        </li>
    {% endfor %}
</ul>
