<h2>Vos horaires :</h2>

<!-- Default switch -->
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="happySwitch">
    <label class="custom-control-label" for="happySwitch">Happy Hour</label>
</div>

<table class="schedule-table">
    <thead>
        <tr>
            {% for weekday in weekdays %}
                <th>{{ weekday }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for n in 00..23 %}
            <tr>
                {% for weekday in weekdays %}
                    <td class="js-schedule-cell schedule-closed" id="{{ weekday }}-{{ n }}-00">
                        {{ n }}:00
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for weekday in weekdays %}
                    <td class="js-schedule-cell schedule-closed" id="{{ weekday }}-{{ n }}-30">
                        {{ n }}:30
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            {% for weekday in weekdays %}
                <td>
                    <label for="closed-{{ weekday }}">Fermé</label>
                    <input type="checkbox" name="closed" id="closed-{{ weekday }}">
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>

{%- block javascripts -%}
    {# Bootstrap's stuff #}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    {# Bootstrap toggle button #}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    {# Custom Javascript #}
    <script type="text/javascript" src="/js/schedule.js"></script>
{% endblock %}
